@import "tailwindcss";

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite, pulse 3s ease-in-out infinite;
  }
}

/* Add this inside your global CSS file */
.img-fade-bottom {
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDown {
  animation: slideDown 0.25s ease-out;
}
